.banner {
  text-align: center;
  color: #000000;
  height: 220px;
  font-size: 50px;
}

.square {
  background-image: radial-gradient(at top, #43d609, #c76210);
  height: 100%;
  border-radius: 15px;
  animation: slide-in-from-left 1000ms ease-out 0ms 1;
}

.greeting-message {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  z-index: 1;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    height: 2%;
  }
  50% {
    transform: translateX(0);
    height: 2%;
  }
  100% {
    transform: translateX(0);
  }
}
