.banner {
  text-align: center;
  color: #000000;
  height: 220px;
  font-size: 50px;
}

.square {
  background-color: #aad8d3;
  height: 100%;
  animation: slide-in-from-left 1000ms ease-out 0ms 1;
}

.greeting-message {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    height: 2%;
  }
  50% {
    transform: translateX(0);
    height: 2%;
  }
  100% {
    transform: translateX(0);
  }
}
