.widget {
  border: 1px solid #aad8d3;
  border-radius: 10px;
}

.widgets-grid {
  padding-top: 240px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 850px) {
  .widgets-grid {
    grid-template-columns: 1fr 1fr;
  }
}
