.quick-access {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  display: inline-block;
  font-size: 60px;
}

.date {
  display: inline-block;
  font-size: 25px;
}
